<h1>Create Sub-topic</h1>

<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title
    <input type="text" name="sub[title]">
  </label>
  <br>

  <label>DESCRIPTION</label>
  <br>

  <textarea type="text" name="sub[description]">


  <input type="submit" value="Create">
</form>